<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.StudentMapper">
   <select id="findOne" parameterType="int" resultType="Student">
        SELECT * FROM student WHERE Id = #{VALUE}
   </select>
   <select id="queryStu" resultType="Student">
       SELECT * FROM student
       WHERE 1 = 1
       Limit ${recordStartIndex},${pageSizeMax}
   </select>
</mapper>